---
http_interactions:
- request:
    method: post
    uri: https://api.eve-online.com/account/Characters.xml.aspx
    body:
      encoding: US-ASCII
      string: Submodules&KeyId=2638835&VCode=HGo53iK9v7nPHJ1rTMsNYBiQ4JISjP1vR2rM44KNNj4wAcVtNIJnWaWmeWheFuSo&Includes=account
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2013-10-05 07:07:22</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID\">\r\n
        \     <row name=\"islador\" characterID=\"601261354\" corporationName=\"Frontier
        Explorer's League\" corporationID=\"1416434476\" />\r\n    </rowset>\r\n  </result>\r\n
        \ <cachedUntil>2013-10-05 08:04:22</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 05 Oct 2013 07:07:22 GMT
- request:
    method: post
    uri: https://api.eve-online.com/corp/MarketOrders.xml.aspx
    body:
      encoding: US-ASCII
      string: Submodules&KeyId=2638835&VCode=HGo53iK9v7nPHJ1rTMsNYBiQ4JISjP1vR2rM44KNNj4wAcVtNIJnWaWmeWheFuSo&Includes=corporation&CharacterId=601261354
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      [...]
