<% provide(:title, 'Item Order Summaries') %>




<div class="dropdowns">
  <select class="station_select"> <!-- Selects are dynamically populated by where statements run against the user's MIS -->
    <% station_list = current_user.market_item_summaries.pluck('station_id').uniq %>
    <option>All Stations</option> <!-- The top option is the default option -->
    <% station_list.each do |s|%>
      <option> <%=s.to_s%> </option> <!-- Builds the selection list for stations. This uses raw IDs, these need to be turned into station names. -->
    <% end %>
  </select>


  <select class="listing_character">
    <% char_list = [] %>
    <% character_id_list = current_user.market_item_summaries.pluck('char_id').uniq %>
    <% character_id_list.each do |cil| %>
      <% char_list.concat(current_user.characters.where('char_id = ?', cil).pluck('name')) %>
    <% end %>
    
    <option>All Characters</option>
    <% char_list.each do |c| %>
      <option> <%=c.to_s%> </option>
    <% end %>
  </select>

  <select class="owner">
    <!-- Assemble the arrays necessary for iteration and storage -->
    <% char_list = [] %>
    <% corp_list = [] %>
    <% owner_list = [] %>

    <!-- Query the DB to populate the character_id_list and corp_id_list arrays -->
    <% char_id_list = current_user.market_item_summaries.where('entity = 0').pluck('char_id').uniq %>
    <% corp_id_list = current_user.market_item_summaries.where('entity = 1').pluck('char_id').uniq %>

    <!-- Iterate through the char_id_list, execute a query for each char_id and pluck the name of that char_id from the database, concating it to the owner_list. -->
    <% char_id_list.each do |cil| %>
      <% owner_list.concat(current_user.characters.where('char_id = ?', cil).pluck('name')) %>
    <% end %>

    <!-- Iterate through the corp_id_list, query the DB and pluck the ID for each char_id, then query the Corporation table and pluck each name associated with that character_id and concat it to the owner_list. -->
    <% corp_id_list.each do |cpil| %>
      <% owner_list.concat(Corporation.where('character_id = ?', current_user.characters.where('char_id = ?', cpil).pluck('id')).pluck('name')) %>
    <% end %>

    <option>All Owners</option>
    <% owner_list.each do |n| %>
      <option> <%= n %> </option>
    <% end %>
  </select>

  <select class="type">
    <% type_list = current_user.market_item_summaries.pluck('bid').uniq %>
    <option>Buy/Sell</option>
    <% type_list.each do |t| %>
      <% if t.to_s.eql? "false" %>
        <option>Sell</option>
      <% else %>
        <option>Buy</option>
      <% end %>
    <% end %>
  </select>
</div>

<div class="corptable"> <!-- Remove the entire div if behavior rules say there are no corp summaries shown. -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <h2>Corporation Item Summaries</h2>
      </tr>
    </thead>
    <tr>
      <table class="table table-condensed" style="border-collapse:collapse;"> <!-- Accordioned Table -->
        <tbody>
          <tr data-toggle="collapse" data-target=".demo1" data-target="#data4" class="accordion-toggle"> <!-- First 2 rows are the MIS -->
              <td><b>Heavy Ion Blasters</b></td>
              <td>Station I-NGI8 V - I-NAGA STOLE MY BIKE</td>
              <td>Listing Character islador</td>
              <td class="text-success">Owner Frontier Explorer's League</td>
              <td class="text-error">Type Sell</td>
          </tr>
          <tr data-toggle="collapse" data-target=".demo1" data-target="#data4" class="accordion-toggle"> <!-- Second line of the MIS -->
              <td>APP 1,230,531.22</td>
              <td>ASP 1,460,124.00</td>
              <td>APM 20.23%</td>
              <td>TVE 300</td>
              <td>TVR 123</td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">1,350,123.22</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">100</div>
            </td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">1,650,224.84</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo1">23</div>
            </td>
          </tr>
          <tr data-toggle="collapse" data-target=".demo2" data-target="#data4" class="accordion-toggle"> <!-- First 2 rows are the MIS -->
              <td><b>Eagles</b></td>
              <td>Station I-NGI8 V - I-NAGA STOLE MY BIKE</td>
              <td>Listing Character islador</td>
              <td class="text-success">Owner Frontier Explorer's League</td>
              <td class="text-error">Type Buy</td>
          </tr>
          <tr data-toggle="collapse" data-target=".demo2" data-target="#data4" class="accordion-toggle"> <!-- Second line of the MIS -->
              <td>APP 1,230,531.22</td>
              <td>ASP 1,460,124.00</td>
              <td>APM 20.23%</td>
              <td>TVE 300</td>
              <td>TVR 123</td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">1,350,123.22</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">100</div>
            </td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">1,350,123.22</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo2">100</div>
            </td>
          </tr>
        </tbody>
      </table>
    </tr>
  </table>
</div>

<br></br>
<div class="chartable"> <!-- Remove the entire div if behavior rules say there are no character summaries being shown. -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <h2>Character Item Summaries</h2>
      </tr>
    </thead>
    <tr>
      <table class="table table-condensed" style="border-collapse:collapse;"> <!-- Accordioned Table -->
        <tbody>
          <tr data-toggle="collapse" data-target=".demo3" data-target="#data4" class="accordion-toggle"> <!-- First 2 rows are the MIS -->
              <td><b>Heavy Ion Blasters</b></td>
              <td>Station I-NGI8 V - I-NAGA STOLE MY BIKE</td>
              <td>Listing Character islador</td>
              <td class="text-success">Owner Frontier Explorer's League</td>
              <td class="text-error">Type Sell</td>
          </tr>
          <tr data-toggle="collapse" data-target=".demo3" data-target="#data4" class="accordion-toggle"> <!-- Second line of the MIS -->
              <td>APP 1,230,531.22</td>
              <td>ASP 1,460,124.00</td>
              <td>APM 20.23%</td>
              <td>TVE 300</td>
              <td>TVR 123</td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">1,350,123.22</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">100</div>
            </td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">1,650,224.84</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo3">23</div>
            </td>
          </tr>
          <tr data-toggle="collapse" data-target=".demo4" data-target="#data4" class="accordion-toggle"> <!-- First 2 rows are the MIS -->
              <td><b>Eagles</b></td>
              <td>Station I-NGI8 V - I-NAGA STOLE MY BIKE</td>
              <td>Listing Character islador</td>
              <td class="text-success">Owner Frontier Explorer's League</td>
              <td class="text-error">Type Buy</td>
          </tr>
          <tr data-toggle="collapse" data-target=".demo4" data-target="#data4" class="accordion-toggle"> <!-- Second line of the MIS -->
              <td>APP 1,230,531.22</td>
              <td>ASP 1,460,124.00</td>
              <td>APM 20.23%</td>
              <td>TVE 300</td>
              <td>TVR 123</td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">1,350,123.22</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">100</div>
            </td>
          </tr>
          <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">Heavy Ion Blaster</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">1,350,123.22</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">%markup</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">150</div>
            </td>
            <td class="hiddenRow">
                <div class="accordian-body collapse demo4">100</div>
            </td>
          </tr>
        </tbody>
      </table>
    </tr>
  </table>
</div>