<% provide(:title, 'Item Order Summaries') %>
<ol>
<li>Market Item Summary Views
<ul><li>Views are switched by selecting filters from drop downs.</li>
<li>View 1 - Overview</li>
<li>The Overview provides an overview of all characters, markets (stations), corp and character Market Item Summaries.</li>
<li>View 2 - Market Filtered MIS</li>
<li>The Market Filtered MIS displays all market summaries belonging to the user in a given station. This includes orders summaries for corporation and characters.</li>
<li>View 3 - Character Filtered MIS</li>
<li>The Character Filtered MIS displays all market summaries belonging to a specific character. This includes any order summaries associated with that character, regardless of whether they're listed for corp or character.</li>
<li>View 4 - Corp filtered MIS</li>
<li>The Corp Filtered MIS displays all market summaries belonging to a specific corporation. This includes any order summaries associated with that corporation, regardless of whether they're listed by character A or character B.</li>
<li>View 5 - Character Orders Only MIS</li>
<li>The Character Orders Only MIS displays all market summaries belonging to a specific character that are associated with character. This does not include any corporation orders. This does include all other orders belonging to that character.</li>
<li>Since views are selected via drop down menus, combinations may be used to selectively filter down through the data.</li></ul></li>
</ol>

